/* coolors palette
#FFE19A
#D31F42
#FEFEFE
#7C7C7C */

body {
  width: 600px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid black;
  font-family: 'Indie Flower', cursive, sans-serif;
}

button {
  font-family: 'Indie Flower', cursive, sans-serif;
  padding: 12px  28px;
  border-radius: 4px;
  display: flex;

}