body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Indie Flower', cursive, sans-serif;
  background-color: #FFE19A;
  
}

button {
  font-family: 'Indie Flower', cursive, sans-serif;
  font-size: 16px;
  padding: 12px  28px ;
  border-radius: 4px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #D31F42;
  color: #FEFEFE
}
button:active {
  transform: translateY(4px);
}
.programmer {
  background-color: #FFE19A;
  color: black;
}
.random {
  background-color: #FFE19A;
  color: black;
}
.knock-knock {
  background-color: #FFE19A;
  color: black;
}

h2 {
  font-size: large;
}

.logo { 
  max-width: 250px;
  max-height: 250px; 
  
}

.joke-container {
  font-size: large;
}

img.joke-giphy { 
  max-height: 250px;
  max-width: 250px;
} 

.container  {
  display: flex;
  flex-direction: column-reverse;
  }
  @media (max-width: 800px) {
    img.joke-giphy {
      width: 350px;
      height: 350px;
    }
    .container{
      flex-direction: column;
    }
    button{
      display:block;
      margin:0.4em auto;
    }
    .logo{
      max-width: 100%;
      height: auto;
    }
    body {
      background-color: coral;
    }
  }